.vast-skip-button {
    display: block;
    top: 50px;
    right: 50px;
    width: auto;
    background-color: rgb(255,255,255,0.6);
    color: #0000FF;
    font-size: 50px;
    font-style: italic;
    line-height: 50px;
    padding: 10px;
}

.vast-skip-button.enabled {
    cursor: pointer;
    color: #0000FF;
}

.vast-skip-button.enabled:hover {
    cursor: pointer;
    background: #333;
}

.vast-blocker {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}